[submodule "libglez"]
	path = libglez
	url = https://github.com/nullworks/libglez/
	branch = cached-rendering
[submodule "external/nekolib"]
	path = external/nekolib
	url = https://github.com/oneechanhax/nekolib
